<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="../../public/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <!-- come renderizzo un partials?-->
        {{>header}}
        <p>This site was created by Valentina Branca. It uses data from mapbox.com and darksky.net</p>
        <img  class="portrait" src="img/robot.png">
         {{>footer}}
    </body>
</html>